
.jumbotron {
    background-color: #6D4C3D;
    padding: 35px;
}

.display-4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #81F0E5;
    text-align: center;
}

.lead {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.btn-primary {
    background-color: #81F0E5;
    font-family: Arial, Helvetica, sans-serif;
    color: #6D4C3D;
    border-color: #6D4C3D;

}